{% extends 'dashboard/base.html' %}
{% set active_page = "password" %}
{% block body %}
<div class="card mb-4">
    <div class="card-body">
        <form method="POST">
            <div class="row">
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="old_password">Current Password</label>
                    <div class="input-group input-group-merge">
                        <span id="old_password_ic" class="input-group-text"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="Enter current password" id="old_password" name="old_password"
                            aria-describedby="old_password_ic">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="new_password">New Password</label>
                    <div class="input-group input-group-merge">
                        <span id="new_password_ic" class="input-group-text"><i class="fa fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="Enter new password" id="new_password" name="new_password"
                            aria-describedby="new_password_ic">
                    </div>
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label" for="confirm_password_page">Confirm New Password</label>
                    <div class="input-group input-group-merge">
                        <span id="confirm_password_ic" class="input-group-text"><i
                                class="fa fa-key"></i></span>
                        <input type="password" class="form-control" placeholder="Confirm new password" id="confirm_password" name="confirm_password"
                            aria-describedby="confirm_password_ic">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>
{% endblock body %}